@media (min-width: 600px) {
  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.25rem;
  }
  .grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 1.25rem;
  }
  .grid_1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1.25rem;
  }

  .grid_1-1-1-1 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
  }
  .grid_1-1-1-1 img {
    align-self: stretch;
    object-fit: cover;
  }
  .image4 {
    display: grid;
    grid-column: span 2;
    grid-row: span 2;
  }
  .image7 {
    display: grid;
    grid-column: span 2;
  }
  .image9 {
    display: grid;
    grid-column: span 3;
  }
}
