* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* farve */
  --violet: 255;
  --saturation: 84%;
  --border: rgb(114, 114, 114);

  /* paddig */
  --space-xxs: 0.5rem;
  --space-xs: 0.75rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;

  /* anvend ved fx. 
  h1 {
  color: var(--xx);
}
  */
}

img {
  max-width: 100%;
}

body {
  background-color: hsl(var(--violet), var(--saturation), 97%);
  font-size: 100%;
}
main {
  font-family: "Raleway", sans-serif;
}

/* Forside Menu*/
.forsidemenu ul {
  list-style: none;
  text-align: center;
  font-family: "Comfortaa", cursive;
}
.forsidemenu a {
  color: white;
  text-decoration: none;
  font-size: var(--space-md);
}
.forsidemenu a:hover {
  color: rgb(96, 96, 96);
}

@media (max-width: 600px) {
  .backgroundimg {
    display: none;
  }
  .menu1 {
    position: fixed;
    top: 25%;
    left: 0;
    right: 0;
  }
  .menu2 {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
  }
  .menu3 {
    position: fixed;
    top: 75%;
    left: 0;
    right: 0;
  }
}

@media (min-width: 600px) {
  .menu1 {
    position: fixed;
    top: 50%;
    left: 0;
    right: 60%;
  }
  .menu2 {
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
  }
  .menu3 {
    position: fixed;
    top: 50%;
    left: 60%;
    right: 0%;
  }
  .backgroundimgphone {
    display: none;
  }
}

/* Menu */
.menu {
  font-size: 100%;
}

.menu ul {
  font-family: "Comfortaa", cursive;
  list-style: none;
  padding: 0;
  background: hsl(var(--violet), var(--saturation), 94%);
}

.menu ul li a {
  color: black;
  text-decoration: none;
  padding: 1rem;
  display: block;
  line-height: 1;
}
.menu ul li {
  border-bottom: 1px solid var(--border);
  text-align: center;
}
.menu img {
  max-width: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menu div:first-child {
  background-color: hsl(var(--violet), var(--saturation), 94%);
  line-height: 0;
  padding: 0.8rem 0rem;
}

.menu div:first-child h4,
.menu ul {
  margin: 0;
}

.menuui a:hover {
  color: rgb(96, 96, 96);
  transform: scale(1.25);
}
/* Styling */
.col {
  margin: 2rem;
}
.billede_gallery {
  margin: 2rem;
}
.grid_1-1 h3 {
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xs);
}

.grid_1-2 h3 {
  margin-bottom: var(--space-xs);
}

.grid_2-1 h3 {
  margin-bottom: var(--space-xs);
}

.col p {
  line-height: var(--space-md);
  margin-bottom: 2rem;
}
.cv {
  text-align: center;
}
.cv a {
  background: hsl(var(--violet), var(--saturation), 85%);
  text-decoration: none;
  border: 1px solid var(--border);
  color: black;
  padding: 1rem;
  cursor: pointer;
  font-size: var(--space-sm);
  font-family: "Comfortaa", cursive;
  line-height: 3rem;
}
.cv a:hover {
  background: hsl(var(--violet), var(--saturation), 75%);
}

.picture {
  order: -1;
  margin: 2rem;
}

.intro {
  text-align: center;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
  font-size: 3rem;
}
.intro p {
  margin-top: 1rem;
  font-size: 2rem;
}

.opdel {
  padding: 2rem;
  background: hsl(var(--violet), var(--saturation), 75%);
  text-align: center;
}

.knap {
  background: hsl(var(--violet), var(--saturation), 85%);
  border: 1px solid var(--border);
  color: black;
  padding: 1rem;
  cursor: pointer;
  font-size: var(--space-sm);
  font-family: "Comfortaa", cursive;

  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.knap:hover {
  background: hsl(var(--violet), var(--saturation), 75%);
}

@media (min-width: 600px) {
  .menu {
    display: flex;
    justify-content: space-between;
    background: hsl(var(--violet), var(--saturation), 94%);
    align-items: center;
    font-size: 100%;
    border-bottom: 1px solid var(--border);
  }
  .menu ul {
    display: flex;
    align-items: center;
    background: none;
    flex-wrap: wrap;
    margin-right: 2rem;
  }

  .menu div:first-child img {
    height: 4.5rem;
    margin-left: 2rem;
  }

  .menu ul li {
    border-bottom: none;
  }
  /* Styling */
  .col {
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
  }
  .picture {
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
  }
}

/* footer */
footer {
  text-align: center;
  margin-top: 2rem;
  font-family: "Comfortaa", cursive;
  position: sticky;
  top: 100vh;
  background: hsl(var(--violet), var(--saturation), 94%);
  border-top: 1px solid var(--border);
}
