* {
  margin: 0;
  padding: 0;
}

html {
  /* farve */
  --violet: 255;
  --saturation: 84%;

  /* paddig */
  --space-xxs: 0.25rem;
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xl: 3rem;
  --space-xxl: 6rem;

  /* anvend ved fx. 
  h1 {
  color: var(--xx);
}
  */
}

img {
  max-width: 100%;
}

body {
  background-color: hsl(var(--violet), var(--saturation), 97%);
  font-size: 100%;
}

.en {
  width: 300px;
  background-color: hsl(var(--violet), 84%, 97%);
  padding: 50px;
  margin: 20px;
}
.to {
  width: 300px;
  background-color: hsl(var(--violet), 84%, 91%);
  padding: 50px;
  margin: 20px;
}

.tre {
  width: 300px;
  background-color: hsl(var(--violet), 84%, 82%);
  padding: 50px;
  margin: 20px;
}
.fire {
  width: 300px;
  background-color: hsl(var(--violet), 84%, 73%);
  padding: 50px;
  margin: 20px;
}
.fem {
  width: 300px;
  background-color: hsl(var(--violet), 84%, 64%);
  padding: 50px;
  margin: 20px;
}
.seks {
  width: 300px;
  background-color: hsl(var(--violet), 84%, 55%);
  padding: 50px;
  margin: 20px;
}
.svy {
  width: 300px;
  background-color: hsl(var(--violet), 84%, 46%);
  padding: 50px;
  margin: 20px;
}
/* Forside Menu*/
.forsidemenu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: "Comfortaa", cursive;
}
.forsidemenu a {
  color: white;
  text-decoration: none;
  font-size: var(--space-md);
}

.menu1 {
  background-image: url(img/1.png);
  padding: 5.5rem;
}
.menu2 {
  background-image: url(img/2.png);
  padding: 5.5rem;
}
.menu3 {
  background-image: url(img/3.png);
  padding: 5.5rem;
}

@media (min-width: 600px) {
  .forsidemenu ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .forsidemenu a {
    color: aliceblue;
    font-size: var(--space-md);
    justify-content: center;
  }
  .forsidemenu img {
    max-width: 100%;
  }
  .menu1 {
    background-image: url(img/4.png);
    aspect-ratio: 9/20;
  }
  .menu2 {
    background-image: url(img/5.png);
    margin: 0;
  }
  .menu3 {
    background-image: url(img/6.png);
    margin: 0;
  }
}

/* Menu */
.menu {
  font-size: 100%;
}

.menu ul {
  font-family: "Comfortaa", cursive;
  list-style: none;
  padding: 0;
  background: hsl(var(--violet), var(--saturation), 94%);
}

.menu ul li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.8rem 1rem;
  display: block;
  line-height: 1;
}
.menu ul li {
  border-bottom: 1px solid rgb(114, 114, 114);
  text-align: center;
}
.menu img {
  max-width: 75px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.menu div:first-child {
  background-color: hsl(var(--violet), var(--saturation), 94%);
  line-height: 0;
  padding: 0.8rem 0rem;
}

.menu div:first-child h4,
.menu ul {
  margin: 0;
}

/* Styling */
.col {
  font-family: "Raleway", sans-serif;
  margin: 2rem;
}
.billede_gallery {
  margin: 2rem;
}

@media (min-width: 600px) {
  .menu {
    display: flex;
    justify-content: space-between;
    background: hsl(var(--violet), var(--saturation), 94%);
    align-items: center;
    font-size: 100%;
    border-bottom: 1px solid rgb(114, 114, 114);
  }
  .menu ul {
    display: flex;
    align-items: center;
    background: none;
    flex-wrap: wrap;
    margin-right: 2rem;
  }
  .menu div:first-child a {
    padding: 0;
    margin: 0 1rem;
  }
  .menu div:first-child img {
    height: 75px;
    margin-left: 2rem;
  }
  .menu div:first-child {
    background: none;
  }
  .menu ul li {
    border-bottom: none;
    flex: 1 0 auto;
    position: relative;
  }

  /* Styling */
  .col {
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 2rem;
  }
  .col h2 {
    line-height: var(--space-xl);
  }
  .col h3 {
    line-height: var(--space-lg);
  }
  .col p {
    line-height: var(--space-md);
  }
  .cv {
    text-align: center;
  }
  .cv a {
    background: hsl(var(--violet), var(--saturation), 85%);
    text-decoration: none;
    border: 1px solid rgb(114, 114, 114);
    color: black;
    padding: 1rem;
    cursor: pointer;
    font-size: var(--space-sm);
    font-family: "Comfortaa", cursive;
    line-height: 3rem;
  }
  .cv a:hover {
    background: hsl(var(--violet), var(--saturation), 75%);
  }
}

/* footer */
footer {
  text-align: center;
  margin-top: 2rem;
  font-family: "Comfortaa", cursive;
  position: sticky;
  top: 100vh;
  background: hsl(var(--violet), var(--saturation), 94%);
  border-top: 1px solid rgb(114, 114, 114);
}
